@inject Microsoft.Extensions.Options.IOptions<ClaritySettings> ClarityOptions
@{
    var CSPNonce = Context.Items["CSPNonce"] as string;
}

<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <partial name="_GDSTitle" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="blue" />

    <link rel="icon" sizes="48x48" href="/assets/images/favicon.ico">
    <link rel="icon" sizes="any" href="/assets/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/images/govuk-icon-mask.svg" color="blue">
    <link rel="apple-touch-icon" href="/assets/images/govuk-icon-180.png">
    <link rel="manifest" href="/assets/manifest.json">

    <link rel="stylesheet" href="~/css/giap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/accessible-autocomplete.min.css" asp-append-version="false" />

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/axios.min.js" asp-append-version="true"></script>
    <script src="~/js/service-timeout.js" asp-append-version="true"></script>

    @RenderSection("Head", required: false)
    @if (!string.IsNullOrEmpty(ClarityOptions.Value.ProjectId))
    { 
        <script nonce="@CSPNonce">
            (function(c,l,a,r,i,t,y){
                c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
                t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
                y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
            })(window, document, "clarity", "script", "@ClarityOptions.Value.ProjectId");
        </script>
    }
</head>

<body class="govuk-template__body govuk-frontend-supported">
    <partial name="_CookieBannerPartial" />
    <partial name="Layout/_LayoutHeader" />
    <partial name="_ServiceTimeout" />

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>

    <partial name="Layout/_LayoutFooter" />
    <script src="~/js/giap.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>