@model DownloadOptionsViewComponent.DownloadOptionsModel

<div class="govuk-form-group">
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        @foreach (var item in Model.DownloadTypes)
        {
            @if (item.CanDownload)
            {
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="download--'+@item.Value.ToLower()+'--chkbox" name="SelectedDownloadOptions" type="checkbox" value="@item.Value" disabled="@item.Disabled">
                    <label class="govuk-label govuk-checkboxes__label" id="download--'+@item.Value.ToLower()+'--label" for="download--'+@item.Value.ToLower()+'--chkbox">
                        @item.Name
                    </label>
                </div>
            }
        }
    </div>
</div>

<div class="govuk-form-group">
    @if (Model.ShowTABDownloadType)
    {
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h3 class="govuk-fieldset__heading" id="download-option--heading--text">
                    Select format
                </h3>
            </legend>

            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    @if (Model.DownloadFileType != DownloadFileType.TAB)
                    {
                        <input class="govuk-radios__input"
                               id="download-option--csv-format--radio-button"
                               asp-for="DownloadFileType"
                               value="1"
                               type="radio"
                               checked />
                    }
                    else
                    {
                        <input class="govuk-radios__input"
                               id="download-option--csv-format--radio-button"
                               asp-for="DownloadFileType"
                               value="1"
                               type="radio" />
                    }
                    <label class="govuk-label govuk-radios__label" id="download-option--csv-format--label" for="download-option--csv-format--radio-button">
                        @ApplicationLabel.CSVDownloadFormat
                    </label>
                </div>

                <div class="govuk-radios__item">
                    @if (Model.DownloadFileType == DownloadFileType.TAB)
                    {
                        <input class="govuk-radios__input"
                               id="download-option--tab-format--radio-button"
                               asp-for="DownloadFileType"
                               value="2"
                               type="radio"
                               checked />
                    }
                    else
                    {
                        <input class="govuk-radios__input"
                               id="download-option--tab-format--radio-button"
                               asp-for="DownloadFileType"
                               value="2"
                               type="radio" />
                    }
                    <label class="govuk-label govuk-radios__label" id="download-option--tab-format--label" for="download-option--tab-format--radio-button">
                        @ApplicationLabel.TABDownloadFormat
                    </label>
                </div>
            </div>
        </fieldset>
    }

    @if (!Model.ShowTABDownloadType)
    {
        <input class="govuk-radios__input"
               id="download-option--csv-format--radio-button"
               asp-for="DownloadFileType"
               value="1"
               type="hidden"
               checked />
    }
</div>