@model InvalidLearnerNumberSearchViewModel
@{
    ViewData["Title"] = "Error: Invalid UPNs Found";
}

<div class="govuk-grid-row">
    <div id="error_container">
        <h1 class="govuk-header">Invalid UPNs found</h1>
        <p class="govuk-body">The UPNs listed below are invalid and have not been added to your My Pupil list. Please check the pupils UPNs that are incorrect and <a gds class="govuk-link" id="invalidupns--contact--link" href="@Global.ContactLinkURL" target="_blank">contact the DfE</a> to report this data discrepancy</p>
        <div class="govuk-inset-text">All other selected UPNs have been successfully added to My pupil list</div>
    </div>

    <div class="result-table">
        <div id="pupil--list--table">
            <div class="giap--pupil-list">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">

                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-firstname--text">First</th>
                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-middlename--text">Middle</th>
                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-surname--text">Surname</th>
                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-upn--text">UPN</th>
                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-dob--text">Date of birth</th>
                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-gender--text">Gender </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                        @foreach (var upn in Model.Learners)
                        {
                            <tr class="govuk-table__row">

                                <td class="govuk-table__cell" id="search--search-pupils-data-firstname--text1">
                                    @upn.Forename
                                </td>
                                <td class="govuk-table__cell" id="search--search-pupils-data-middlename--text1">
                                    @upn.Middlenames
                                </td>
                                <td class="govuk-table__cell" id="search--search-pupils-data-surname--text1">
                                    @upn.Surname
                                </td>
                                <td class="govuk-table__cell" id="search--search-pupils-data-upn--text1">
                                    @upn.LearnerNumber
                                </td>
                                <td class="govuk-table__cell" id="search--search-pupils-data-dob--text1">
                                    @upn.DOB?.ToString("dd/MM/yyyy")
                                </td>
                                <td class="govuk-table__cell" id="search--search-pupils-data-gender--text1">
                                    @upn.Gender
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <form method="post">
        @Html.HiddenFor(m => m.LearnerNumber)
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-visually-hidden govuk-fieldset__legend">What do you want to do?</legend>

                <partial name="_ValidationSummary" model="ViewData.ModelState" />
                <div class="govuk-radios @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")" data-module="govuk-radios">

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="return-to-search" asp-for="SelectedInvalidUPNOption" type="radio" value="ReturnToSearch">
                        <label class="govuk-label govuk-radios__label" for="return-to-search">
                            Return to previous page
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="go-to-my-pupil-list" asp-for="SelectedInvalidUPNOption" type="radio" value="GoToMyPupilList">
                        <label class="govuk-label govuk-radios__label" for="go-to-my-pupil-list">
                            Open My pupil list
                        </label>
                    </div>
                </div>
            </fieldset>
            <br />
            <div id="invalidupns-continue-button--container">
                <button class="govuk-button" asp-action="@Model.InvalidUPNsConfirmationAction" id="admin-continue--button" name="continue" value="Continue">Continue</button>
            </div>
        </div>
    </form>
</div>
