@model SecurityReportsBySchoolViewModel
@{
    ViewBag.Title = "Security reports by school";
}

@Html.ActionLink("Back", "SecurityReportsBySchool", "Admin", null, new { id = "admin-dashboard--security-reports-by-school-establishment-selection--back-link", Class = "govuk-back-link govuk-link" })

<form method="post">
    <div class="govuk-fieldset">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-visually-hidden">
                    Security report options
                </span>
            </legend>
            <div class="govuk-grid-row">
                <h1 id="security-reports--heading--text" class="govuk-heading-xl">Security reports by school</h1>
                <partial name="_ValidationSummary" model="ViewData.ModelState" />
                @Html.HiddenFor(m => m.SelectedReportType)
                @Html.HiddenFor(m => m.SelectedOrganisationCode)
                @Html.HiddenFor(m => m.SelectedOrganisationOption)
            </div>
            <div class="govuk-grid-row">
                <div id="security-reports--summary-table--container" class="govuk-width-container">
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header" id="security-reports--report-type-heading--text">Report Type</th>
                                <th scope="col" class="govuk-table__header" id="security-reports--report-organisation-type-heading--text">Organisation Type</th>
                                <th scope="col" class="govuk-table__header" id="security-reports--change-heading--link"></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell webapp-table-cell" id="security-reports--report-type--text1">
                                    @Model.SelectedReportTypeFormatted
                                </td>
                                <td class="govuk-table__cell webapp-table-cell" id="security-reports--organisation-type--text1">
                                    @Model.SelectedOrganisationType
                                </td>
                                <td class="govuk-table__cell webapp-table-cell" id="security-reports--change--link">
                                    <strong>
                                        <a class="govuk-link" asp-controller="Admin" asp-action="SecurityReportsBySchool" id="admin-dashboard--security-reports-by-school-establishment-selection--change-organisation-link">Change</a>
                                    </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @if (Model.SelectedOrganisationCode != null)
            {
                <div class="govuk-grid-row">
                    <div id="security-reports--establishment--dropdown--container" class="govuk-width-container">
                        <label class="govuk-label" for="security-reports--establishment--dropdown">
                            School
                        </label>
                        @if (ViewData.ModelState["NoEstablishmentSelected"]?.ValidationState == ModelValidationState.Invalid)
                        {
                            <span id="security-reports--establishment-error-message--text" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> A school must be selected
                            </span>
                        }
                        <select asp-for="SelectedEstablishmentCode"
                                class="govuk-select autocomplete-wrapper @(ViewData.ModelState["NoEstablishmentSelected"]?.ValidationState == ModelValidationState.Invalid ? "govuk-textarea--error" : "")"
                                asp-items="Model.ListOfSelectItems"
                                id="security-reports--establishment--dropdown">
                            <option></option>
                        </select>
                    </div>
                </div>
            }
        </fieldset>
    </div>

    @if (Model.ListOfSelectItems != null)
    {

        @if (Model.ProcessDownload)
        {
            <div id="security-reports--download-container"
                 data-process-download="true"
                 data-url="@Url.RouteUrl(SecurityReports.Names.GetSecurityReportDownload, new { httproute = "", reportType = Model.SelectedReportType, estabCode = Model.SelectedEstablishmentCode, estabType = Model.SelectedOrganisationOption })"
                 data-confirmation-url="@Url.RouteUrl(SecurityReports.Names.SRConfirmation)">
                <p class="govuk-body">Preparing your download. Please wait.</p>
            </div>
        }
        else
        {
            <div id="security-reports--download-button--container">
                <button asp-controller="Admin" asp-action="DownloadSecurityReportsBySchool" id="security-reports-by-school-download--button" name="download" value="downloadReport" class="govuk-button">Download</button>
            </div>
        }
    }
</form>
@if (Model.ProcessDownload)
{
    <noscript>
        <form method="get">
            <div id="security-reports--download-button--container">
                <p class="govuk-body">Preparing your download. Please wait a short while for your file to arrive before pressing Continue.</p>
                <button asp-controller="Admin" asp-action="SecurityReportsBySchoolConfirmation" id="security-reports-by-school-continue--button" name="continue" value="continue" class="govuk-button">Continue</button>
            </div>
        </form>
    </noscript>

    <noscript>
        <iframe id="downloader" class="display-none" title="Your download is being processed" src="@Url.RouteUrl(SecurityReports.Names.GetSecurityReportDownload, new { httproute = "", reportType = Model.SelectedReportType, estabCode = Model.SelectedEstablishmentCode })" />
    </noscript>
}

<script src="~/js/downloadReport.js" asp-append-version="false"></script>
<script src="~/js/accessible-autocomplete.min.js" asp-append-version="false"></script>
<script src="~/js/giap-autocomplete.js" asp-append-version="false"></script>