@model SecurityReportsBySchoolViewModel

@{
    if (Model.NoSRContent)
    {
        ViewBag.Title = "There is no security report data available to download";
    }
    else
    {
        ViewBag.Title = "Download complete";
    }
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        @if (Model.NoSRContent)
        {
            <h1 class="govuk-heading-xl">There is no security report data available to download</h1>
        }
        else
        {
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-heading-xl">Download complete</h1>
                <div class="govuk-panel__body">
                    <strong class="bottom-margin-10">You have saved:</strong>
                    <br />
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header" id="security-reports--report-type-heading--text">Report Type</th>
                                <th scope="col" class="govuk-table__header" id="security-reports--report-organisation-type-heading--text">Organisation Type</th>
                                <th scope="col" class="govuk-table__header" id="security-reports--establishment-heading--text">Establishment</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell webapp-table-cell" id="security-reports--report-type--text1">
                                    @Model.SelectedReportTypeFormatted
                                </td>
                                <td class="govuk-table__cell webapp-table-cell" id="security-reports--organisation-type--text1">
                                    @Model.SelectedOrganisationType
                                </td>
                                <td class="govuk-table__cell webapp-table-cell" id="security-reports--establisment--text1">
                                    @Model.SelectedEstablishmentName
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }

        <h2 class="govuk-heading-m">What do you want to do next?</h2>

        <div>
            <partial name="_ValidationSummary" model="ViewData.ModelState" />
            <form method="post">
                @Html.HiddenFor(m => m.SelectedReportType)
                @Html.HiddenFor(m => m.SelectedOrganisationCode)
                @Html.HiddenFor(m => m.SelectedEstablishmentCode)
                @Html.HiddenFor(m => m.SelectedOrganisationOption)
                <div class="govuk-form-group">
                    <div class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <span class="govuk-visually-hidden">
                                Which organisation do you want to search?
                            </span>
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="security-reports-confirmation-option-another-report" asp-for="SelectedConfirmationOption" type="radio" value="AnotherReport">
                                <label class="govuk-label govuk-radios__label" for="security-reports-confirmation-option-another-report">
                                    Download another security report with the same report type and organisation
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="security-reports-confirmation-option-change-report" asp-for="SelectedConfirmationOption" type="radio" value="ChangeReport">
                                <label class="govuk-label govuk-radios__label" for="security-reports-confirmation-option-change-report">
                                    Download a security file with a different report type and organisation
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="security-reports-confirmation-option-admin-dashboard" asp-for="SelectedConfirmationOption" type="radio" value="Admin">
                                <label class="govuk-label govuk-radios__label" for="security-reports-confirmation-option-admin-dashboard">
                                    Open the admin dashboard
                                </label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="admin-continue-button--container" class="govuk-width-container">
                        <button asp-controller="Admin" asp-action="SecurityReportsBySchoolConfirmation" id="admin-continue--button" name="continue" value="Continue" class="govuk-button">Continue</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>