@model SecurityReportsBySchoolViewModel
@{
    ViewBag.Title = "Security reports by school";
}

@* TODO: Is this check needed? *@
@Html.ActionLink("Back", User.IsAdmin() ? "SchoolCollegeDownloadOptions" : "Index", "Admin", null, new { id = "admin-dashboard--security-reports-by-school-college-download-back-link", Class = "govuk-back-link govuk-link" })


<h1 id="security-reports--heading--text" class="govuk-heading-xl">Security reports by school</h1>

<div class="govuk-grid-row">
    <form method="post">

        @Html.HiddenFor(m => m.SelectedOrganisationOption)
        <div class="govuk-form-group">
            <partial name="_ValidationSummary" model="ViewData.ModelState" />

            <div class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-visually-hidden">
                        Security report options
                    </span>
                </legend>
                <div class="govuk-grid-row">
                    <div id="security-reports--report-options--dropdown--container" class="govuk-width-container govuk-!-padding-bottom-4">
                        <label for="security-reports--select--dropdown" class="govuk-label">
                            Select a report
                        </label>
                        @Html.ValidationMessageFor(model => model.SelectedReportType, "", new { @class = "govuk-error-message" })
                        <select asp-for="SelectedReportType"
                                class="govuk-select @(ViewData.ModelState["SelectedReportType"]?.ValidationState == ModelValidationState.Invalid ? "govuk-textarea--error" : "")"
                                id="security-reports--select--dropdown">
                            <option value="">Select a report</option>
                            <option value="logindetails">Log-in details</option>
                            <option value="detailedsearches">Detailed searches</option>
                        </select>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div id="security-reports--organisation--dropdown--container" class="govuk-width-container">
                        <label for="security-reports--organisation--dropdown" class="govuk-label">
                            Enter an organisation name or number
                        </label>
                        @if (ViewData.ModelState["NoOrganisationSelected"]?.ValidationState == ModelValidationState.Invalid)
                        {
                            <span id="security-reports--organisation-error-message--text" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Please select an organisation
                            </span>
                        }
                        <select asp-for="SelectedOrganisationCode"
                                class="govuk-select autocomplete-wrapper @(ViewData.ModelState["NoOrganisationSelected"]?.ValidationState == ModelValidationState.Invalid ? "govuk-textarea--error" : "")"
                                asp-items="@Model.ListOfSelectItems"
                                id="security-reports--organisation--dropdown">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="security-reports--next-button--container" class="govuk-width-container">
            <button asp-controller="Admin" asp-action="SecurityReportsBySchool" id="security-reports-by-school-next--button" name="next" value="next" class="govuk-button">Next</button>
        </div>
    </form>
</div>

<script src="~/js/accessible-autocomplete.min.js" asp-append-version="false"></script>
<script src="~/js/giap-autocomplete.js" asp-append-version="false"></script>