@model NewsViewModel
@{
    ViewData["Title"] = "News";
}

@if (Model is null || Model.NewsArticles.Any() is false)
{
    <h1 class="govuk-heading-xl" id="news--heading--text">News</h1>

    <partial name="_Maintenance" model="@Model" />
    <partial name="_Publication" model="@Model" />

    <p class="govuk-body">
        No news articles found.
    </p>
}
else
{
    <h1 class="govuk-heading-xl" id="news--heading--text">News</h1>

    <partial name="_Maintenance" model="@Model" />
    <partial name="_Publication" model="@Model" />
    <partial name="_NewsArticles" model="@Model" />
}

<p class="govuk-body">
    <a class="govuk-link" asp-controller="News" asp-action="Archive" id="news-archive--link">Archived site news</a>
</p>
