@model LearnerTextSearchViewModel

<div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
        <h4 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button govuk-!-font-size-19 webapp-filter-accordion-title" id="heading--gender">
                Gender
            </span>
        </h4>
        @if (Model.FilterErrors.GenderError)
        {
            <span id="gender--error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select a gender
            </span>
        }
    </div>

    <div id="accordion-default-search-filters-content-@(Model.ShowMiddleNames ? "5" : "4")" class="govuk-accordion__section-content">
        <form action="@Model.RedirectUrls.GenderFilterUrl" method="POST">

            <input type="hidden" name="ReturnRoute" for="ReturnRoute" value="@Model.ReturnRoute" />
            <input type="hidden" name="SearchText" for="SearchText" value="@Model.SearchText" />
            <input type="hidden" value="@Model.SearchFilters.CurrentFiltersAppliedString" name="SearchFilters.CurrentFiltersAppliedString" />
            <input type="hidden" name="SearchFilters.CustomFilterText.DobYear" value="@Model.SearchFilters.CustomFilterText.DobYear" />
            <input type="hidden" name="SearchFilters.CustomFilterText.DobMonth" value="@Model.SearchFilters.CustomFilterText.DobMonth" />
            <input type="hidden" name="SearchFilters.CustomFilterText.DobDay" value="@Model.SearchFilters.CustomFilterText.DobDay" />

            <div class="govuk-form-group webapp-filter-accordion-button">
                <div class="govuk-checkboxes">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend">
                            <span class="govuk-visually-hidden">
                                Filter by gender
                            </span>
                        </legend>
                        @foreach (var filter in Model.Filters.Where(x => x.Name.Equals("Gender")))
                        {
                            foreach (var item in filter.Items)
                            {
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="@item.Value.Substring(0, 1)" name="SelectedGenderValues" type="checkbox" value="@item.Value.Substring(0, 1)" checked="checked">
                                    <label class="govuk-label govuk-checkboxes__label" for="@item.Value.Substring(0, 1)">
                                        @item.Value (@item.Count)
                                    </label>
                                </div>
                            }
                        }
                    </fieldset>
                </div>
            </div>
            <button class="govuk-button webapp-filter-accordion-button" id="submit--button" type="submit" data-module="govuk-button" name="searchGenderOkButton" value="searchGenderOkButton">
                OK
            </button>
        </form>
    </div>
</div>
