@model LearnerDownloadViewModel

@{
    ViewData["Title"] = Model.SearchResultPageHeading;
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-l" id="search-download-heading">
            @Model.SearchResultPageHeading
        </h1>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <partial name="../Shared/LearnerText/_SearchBox" model="@Model.TextSearchViewModel" />
        </div>

        <div class="govuk-grid-column-three-quarters">
            <form action=@Model.DownloadRoute method="POST">

                <input type="hidden" name="SelectedPupils" value="@Model.SelectedPupils" />
                <input type="hidden" name="LearnerNumber" value="@Model.LearnerNumber" />
                <div class="govuk-form-group">
                    <p class="italic govuk-body" id="selected-records--message">You have selected <span id="selected-records--count">@Model.SelectedPupilsCount</span> record<span id="selected-records--message-plural">@(Model.SelectedPupilsCount > 1 ? "s" : "")</span> to download</p>
                    <h3 class="govuk-heading-m">Select data type</h3>
                    <input asp-for="SelectedPupilsCount" type="hidden" value="@Model.SelectedPupilsCount" />

                    @if (!string.IsNullOrEmpty(Model.ErrorDetails))
                    {
                        <span id="results--detail-errormessage" class="govuk-error-message webapp-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @Model.ErrorDetails
                        </span>
                    }
                    @(await Component.InvokeAsync("DownloadOptions", new
                    {
                        downloadDataTypes = @Model.SearchDownloadDatatypes,
                        downloadFileType = @Model.DownloadFileType,
                        showTabDownloadType = @Model.ShowTABDownloadType
                    }))

                </div>

                <div class="govuk-button-group">
                    <button id="btn-search-download" type="submit" class="govuk-button" data-module="govuk-button">Download</button>
                    <a id="return--to--search--results--link" class="govuk-link" asp-controller="search" asp-action="@Model.RedirectRoute" asp-route-returnToSearch="true">Return to search results</a>
                </div>
            </form>
        </div>
    </div>
</div>
