@model ManageDocumentsViewModel

@{
    ViewBag.Title = "Archived news article";
}

<h1 class="govuk-heading-xl">Archived news article</h1>

@if (Model != null && Model.DocumentData != null && Model.DocumentList != null)
{

    <p class="govuk-body">
        @Html.Raw(Model.DocumentList.DocumentName)
    </p>

    <div class="govuk-width-container">
        <form method="post">

            <input type="hidden" asp-for="@Model.DocumentData.Id" />
            <input type="hidden" asp-for="@Model.DocumentData.Title" />
            <input type="hidden" asp-for="@Model.DocumentData.Body" />
            <input type="hidden" asp-for="@Model.DocumentData.Pinned" />
            <input type="hidden" asp-for="@Model.DocumentList.DocumentId" />
            <input type="hidden" asp-for="@Model.ArchivedNewsId" />

            <div id="news--articles--container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        @if (Model.DocumentData.Pinned)
                        {
                            <strong class="govuk-tag govuk-tag--green" id="news--label--text">
                                Pinned
                            </strong>
                        }
                        <h2 class="govuk-heading-m govuk-!-margin-top-1 govuk-!-text-break-word" id="preview-changes--item-heading--text">
                            @Html.Raw(Model.DocumentData.Title)
                        </h2>
                        <p class="govuk-body govuk-!-text-break-word" id="preview-changes--item-content--text">
                            @Html.Raw(Model.DocumentData.Body)
                        </p>
                    </div>
                </div>
            </div>

            <div class="govuk-button-group">
                <button asp-controller="ManageDocuments" asp-action="DeleteArchiveNews" id="delete-document--button" name="delete" value="Delete" type="submit" class="govuk-button govuk-button--secondary">Delete</button>
                <button asp-controller="ManageDocuments" asp-action="UnarchiveNews" id="unarchive-document--button" name="unarchiveNews" value="UnarchiveNews" class="govuk-button">Unarchive</button>
            </div>
        </form>
    </div>
}