@model ManageDocumentsViewModel

@{
    ViewBag.Title = "Preview changes";
}

<div class="govuk-width-container">
    <h1 class="govuk-heading-xl">Preview changes</h1>

    @if (Model != null && Model.DocumentData != null)
    {

        <form method="post">
            <partial name="_ValidationSummary" model="ViewData.ModelState" />

            <input type="hidden" asp-for="@Model.SelectedNewsId" />
            <input type="hidden" asp-for="@Model.DocumentData.Id" />
            <input type="hidden" asp-for="@Model.DocumentData.Pinned" />
            <input type="hidden" asp-for="@Model.DocumentData.Title" />
            <input type="hidden" asp-for="@Model.DocumentData.DraftTitle" />
            <input type="hidden" asp-for="@Model.DocumentData.Body" />
            <input type="hidden" asp-for="@Model.DocumentData.DraftBody" />
            <input type="hidden" asp-for="@Model.DocumentList.DocumentId" />

            <div id=@($"news--articles--container")>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        @if (Model.DocumentData.Pinned)
                        {
                            <strong class="govuk-tag govuk-tag--green" id=@($"news--label--text")>
                                Pinned
                            </strong>
                        }
                        <h2 class="govuk-heading-m govuk-!-margin-top-1 govuk-!-text-break-word" id="preview-news-article--item-heading--text">
                            @Html.Raw(Model.DocumentData.DraftTitle)
                        </h2>
                        <p class="govuk-body govuk-!-text-break-word" id="preview-news-article--item-content--text">
                            @Html.Raw(Model.DocumentData.DraftBody)
                        </p>
                    </div>
                </div>
            </div>

            <br />
            <div class="govuk-button-group">
                <button asp-controller="ManageDocuments" asp-action="EditNewsArticle" id="edit-news-article--button" name="edit" value="Edit" class="govuk-button govuk-button--secondary">Edit</button>
                <button asp-controller="ManageDocuments" asp-action="DeleteNews" id="delete-news-article--button" name="delete" value="Delete" class="govuk-button govuk-button--secondary">Delete</button>
                <button asp-controller="ManageDocuments" asp-action="ManageDocuments" id="discard-news-article--button" name="discard" value="Discard" class="govuk-button govuk-button--secondary">Discard</button>
                <button asp-controller="ManageDocuments" asp-action="SaveArticleAsDraft" id="save-as-draft--button" name="save-as-draft" value="SaveAsDraft" class="govuk-button govuk-button--secondary">Save as draft</button>
                <button asp-controller="ManageDocuments" asp-action="PublishNewsArticle" id="publish-news-article--button" name="publish" value="Publish" class="govuk-button">Publish</button>
            </div>
        </form>
    }
</div>