@model MyPupilListViewModel

@if ((Model.Learners != null && Model.Learners.Any()) || Model.Invalid.Any())
{
    <input type="hidden" name="PageLearnerNumbers" value="@Model.PageLearnerNumbers" />
    <input type="hidden" name="Total" value="@Model.Total" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <button class="govuk-list webapp-button-as-link" asp-action="ToDownloadCommonTransferFileData" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@Model.SortField" asp-route-sortDirection="@Model.SortDirection" id="search--download--as--CTF--link" name="downloadASCTF" value="selected" type="submit">
                @Model.DownloadSelectedASCTFLink
            </button>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <button class="govuk-list webapp-button-as-link" asp-action="ToDownloadSelectedNPDDataUPN" id="download--selected--npd--data--link" type="submit">
                @Model.DownloadSelectedNPDDataLink
            </button>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <button class="govuk-list webapp-button-as-link" asp-action="ToDownloadSelectedPupilPremiumDataUPN" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@Model.SortField" asp-route-sortDirection="@Model.SortDirection" id="download--selected--pp--data--link" type="submit">
                @Model.DownloadSelectedPupilPremiumDataLink
            </button>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <button class="govuk-list webapp-button-as-link" asp-controller="MyPupilList" asp-action="RemoveSelected" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@Model.SortField" asp-route-sortDirection="@Model.SortDirection" asp id="remove--selected--data--link" type="submit">
                @Model.RemoveSelectedToMyPupilListLink
            </button>
        </div>
    </div>
}
