@model PaginatedResultViewComponent.PaginatedResultModel

<div id="pupil--list--table">
    <div class="giap--pupil-list">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-visually-hidden">Do you want to select</legend>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-select--chkbox">
                            <span class="govuk-visually-hidden">checkboxes</span>
                        </th>
                        <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-firstname--text" aria-sort="@SortHelper.DetermineAriaSort(AzureSearchFields.Forename, Model.ActiveSortField, Model.ActiveSortDirection)">
                            <button id="search--sort-firstname--button" asp-action="@Model.ControllerAction" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@AzureSearchFields.Forename" asp-route-sortDirection="@SortHelper.DetermineSortDirection(AzureSearchFields.Forename, Model.ActiveSortField, Model.ActiveSortDirection)">
                                First
                            </button>
                        </th>
                        @if (Model.ShowMiddleNames)
                        {
                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-middlename--text" aria-sort="@SortHelper.DetermineAriaSort(AzureSearchFields.Middlenames, Model.ActiveSortField, Model.ActiveSortDirection)">
                                <button id="search--sort-middlename--button" asp-action="@Model.ControllerAction" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@AzureSearchFields.Middlenames" asp-route-sortDirection="@SortHelper.DetermineSortDirection(AzureSearchFields.Middlenames, Model.ActiveSortField, Model.ActiveSortDirection)">
                                    Middle
                                </button>
                            </th>
                        }
                        <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-surname--text" aria-sort="@SortHelper.DetermineAriaSort(AzureSearchFields.Surname, Model.ActiveSortField, Model.ActiveSortDirection)">
                            <button id="search--sort-surname--button" asp-action="@Model.ControllerAction" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@AzureSearchFields.Surname" asp-route-sortDirection="@SortHelper.DetermineSortDirection(AzureSearchFields.Surname, Model.ActiveSortField, Model.ActiveSortDirection)">
                                Surname
                            </button>
                        </th>
                        <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-learner-number--text">@(Model.LearnerNumberLabel)</th>
                        <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-dob--text" aria-sort="@SortHelper.DetermineAriaSort(AzureSearchFields.DOB, Model.ActiveSortField, Model.ActiveSortDirection)">
                            <button id="search--sort-dob--button" asp-action="@Model.ControllerAction" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@AzureSearchFields.DOB" asp-route-sortDirection="@SortHelper.DetermineSortDirection(AzureSearchFields.DOB, Model.ActiveSortField, Model.ActiveSortDirection)">
                                Date of birth
                            </button>
                        </th>
                        @if (Model.ShowGender)
                        {
                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-gender--text" aria-sort="@SortHelper.DetermineAriaSort(AzureSearchFields.Gender, Model.ActiveSortField, Model.ActiveSortDirection)">
                                <button id="search--sort-gender--button" asp-action="@Model.ControllerAction" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@AzureSearchFields.Gender" asp-route-sortDirection="@SortHelper.DetermineSortDirection(AzureSearchFields.Gender, Model.ActiveSortField, Model.ActiveSortDirection)">
                                    Gender
                                </button>
                            </th>
                        }
                        else
                        {
                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-sex--text" aria-sort="@SortHelper.DetermineAriaSort(AzureSearchFields.Sex, Model.ActiveSortField, Model.ActiveSortDirection)">
                                <button id="search--sort-sex--button" asp-action="@Model.ControllerAction" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@AzureSearchFields.Sex" asp-route-sortDirection="@SortHelper.DetermineSortDirection(AzureSearchFields.Sex, Model.ActiveSortField, Model.ActiveSortDirection)">
                                    Sex
                                </button>
                            </th>
                        }
                        @if (Model.ShowPP)
                        {
                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-pupilpremium--text">Pupil premium</th>
                        }
                        @if (Model.ShowLocalAuthority)
                        {
                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-local-authority--text">LA</th>
                        }
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var learner in Model.Learners)
                    {
                        <tr class="govuk-table__row">
                            @if (Model.AllowMultipleSelection)
                            {
                                <td class="govuk-table__cell govuk-checkboxes govuk-checkboxes--small">
                                @if (learner.LearnerNumberId != null)
                                {
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="search--search-pupils-data-select--chkbox-@learner.LearnerNumberId" name="SelectedPupil" type="checkbox" value="@learner.LearnerNumberId" checked="@learner.Selected">
                                            <label class="govuk-label govuk-checkboxes__label" for="search--search-pupils-data-select--chkbox-@learner.LearnerNumberId">
                                                <span class="govuk-visually-hidden">@(Model.LearnerNumberLabel): @learner.LearnerNumber, Name: @learner.Forename @learner.Surname</span>
                                            </label>
                                        </div>
                                }
                                else
                                {
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="search--search-pupils-data-select--chkbox-@learner.LearnerNumber" name="SelectedPupil" type="checkbox" value="@learner.LearnerNumber" checked="@learner.Selected">
                                        <label class="govuk-label govuk-checkboxes__label" for="search--search-pupils-data-select--chkbox-@learner.LearnerNumber">
                                            <span class="govuk-visually-hidden">@(Model.LearnerNumberLabel): @learner.LearnerNumber, Name: @learner.Forename @learner.Surname</span>
                                        </label>
                                    </div>
                                }
                                </td>

                            }
                            else
                            {
                                <td class="govuk-table__cell govuk-radios govuk-radios--small" data-module="govuk-radios">
                                    @if (learner.LearnerNumberId != null)
                                    {
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="@learner.LearnerNumberId" name="SelectedPupil" type="radio" value="@learner.LearnerNumberId" checked="@learner.Selected">
                                            <label class="govuk-label govuk-radios__label" for="@learner.LearnerNumberId">
                                                <span class="govuk-visually-hidden">@(Model.LearnerNumberLabel): @learner.LearnerNumber, Name: @learner.Forename @learner.Surname</span>
                                            </label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="@learner.LearnerNumber" name="SelectedPupil" type="radio" value="@learner.LearnerNumber" checked="@learner.Selected">
                                            <label class="govuk-label govuk-radios__label" for="@learner.LearnerNumber">
                                                <span class="govuk-visually-hidden">@(Model.LearnerNumberLabel): @learner.LearnerNumber, Name: @learner.Forename @learner.Surname</span>
                                            </label>
                                        </div>
                                    }
                                </td>
                            }


                            <td class="govuk-table__cell search--search-pupils-data-firstname--text">
                                @learner.Forename
                            </td>

                            @if (Model.ShowMiddleNames)
                            {
                                <td class="govuk-table__cell search--search-pupils-data-middlename--text">
                                    @learner.Middlenames
                                </td>
                            }

                            <td class="govuk-table__cell search--search-pupils-data-surname--text">
                                @learner.Surname
                            </td>
                            <td class="govuk-table__cell search--search-pupils-data-learner-number--text">
                                @learner.LearnerNumber
                            </td>
                            <td class="govuk-table__cell search--dob--cell search--search-pupils-data-dob--text">
                                @learner.DOB?.ToString("dd/MM/yyyy")
                            </td>

                            @if (Model.ShowGender)
                            {
                                <td class="govuk-table__cell search--search-pupils-data-gender--text">
                                    @learner.Gender
                                </td>
                            }
                            else
                            {
                                <td class="govuk-table__cell search--search-pupils-data-sex--text">
                                    @learner.Sex
                                </td>
                            }
                            @if (Model.ShowPP)
                            {
                                <td class="govuk-table__cell search--search-pupils-pupilpremium--text">
                                    @learner.PupilPremium
                                </td>
                            }
                            @if (Model.ShowLocalAuthority)
                            {
                                <td class="govuk-table__cell search--search-pupils-data-local-authority--text">
                                    @learner.LocalAuthority
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </fieldset>
        @if (Model.Learners.Any())
        {
            <div>
                <ul class="pagination-list">
                    <li class="page-list-previous">
                        @if (Model.ShowPrevious)
                        {
                            <button id="page-previous" asp-action="@Model.ControllerAction" asp-route-pageNumber="@(Model.PageNumber - 1)" asp-route-sortField="@Model.ActiveSortField" asp-route-sortDirection="@Model.ActiveSortDirection">&#60;&#60; Previous</button>
                        }
                    </li>
                    @foreach (var pageNumber in Model.AvailablePages)
                    {
                        @if (pageNumber == int.MinValue)
                        {
                            <li class="page-list-number-separator">
                                ...
                            </li>
                        }
                        else
                        {
                            @if (Model.AvailablePages.Count > 1)
                            {
                                <li class="page-list-number">
                                    @if (pageNumber == Model.PageNumber)
                                    {
                                        <span id="page-number-@(pageNumber + 1)">@(pageNumber + 1)</span>
                                    }
                                    else
                                    {
                                        <button id="page-number-@(pageNumber + 1)" type="submit" asp-action="@Model.ControllerAction" asp-route-pageNumber="@pageNumber" asp-route-sortField="@Model.ActiveSortField" asp-route-sortDirection="@Model.ActiveSortDirection">@(pageNumber + 1) </button>
                                    }
                                </li>
                            }
                        }
                    }
                    <li class="page-list-next">
                        @if (Model.ShowNext)
                        {
                            <button id="page-next" type="submit" asp-action="@Model.ControllerAction" asp-route-pageNumber="@(Model.PageNumber + 1)" asp-route-sortField="@Model.ActiveSortField" asp-route-sortDirection="@Model.ActiveSortDirection">Next &#62;&#62;</button>
                        }
                    </li>
                </ul>

                <input type="hidden" id="PageLearnerNumbers" name="PageLearnerNumbers" value="@Model.PageLearnerNumbers">
            </div>
        }
    </div>
</div>
